*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #575aa9;
    color:#252CCD
    display flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-imagem{
width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
